pydantic
pydantic-settings
python-dotenv
python-multipart

psycopg[binary]
pgvector
sqlalchemy
asyncpg
psycopg2-binary

fastapi
uvicorn[standard]

langchain
langchain-core
langchain-community

langchain-openai
langchain-postgres
langgraph
langgraph-checkpoint
langgraph-checkpoint-postgres
openai
pypdf

python-docx

pytesseract 
pillow
unstructured
python-pptx
openpyxl
pandas